torch==2.2.0
torchvision==0.17.0
torchaudio==2.2.0
soundfile
numpy==1.26.4
torch_audiomentations
tqdm~=4.66.5
matplotlib~=3.9.2
pandas~=2.2.3
wandb
comet_ml
hydra-core~=1.3.2

black
isort
pre-commit

editdistance~=0.8.1
datasets~=3.0.1
wget~=3.2
omegaconf~=2.3.0
pillow~=10.4.0
torch-audiomentations~=0.11.1
librosa~=0.10.2.post1

antlr4-python3-runtime==4.9.3
multiprocess
xxhash
wandb
julius
torch-pitch-shift
